<h1><%= @student.to_s %></h1>
<% if @student.active%>
   This student is currently active.
<%else%>
    This student is currently inactive.
<%end%>
<div>----------</div>


  <div><%= link_to @student.active, student_path(@student) %></div>
